body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header-sec {
    background-color: red;
}

#heading {
    color: #f4efef;
    position: relative;
    left: 80px;
    width: 91vw;
}

main {
    display: flex;
    flex-direction: row;
    /* filter: blur(2px); */
}

#nav-bar {
    background-color: #e6e3e3;
    height: 91.8vh;
    width: 20vw;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#top-section {
    height: 20vh;
}

#project-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;}

#project-container > h3 {
    font-size: 26px;
}

#project-list {
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#project-list > ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.project {
    padding: 5px;
    font-size: 18px;
    height: 3vh;
    width: 15vw;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project:hover {
    cursor: pointer;
    background-color: #f4efef;
}

#add-project-btn {
    height: 5vh;
    width: 15vw;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    background-color: #e6e3e3;
}

#add-project-btn:hover {
    cursor: pointer;
    background-color: #f4efef;
}

#tasks-container {
    background-color: #f4efef;
    width: 100vw;
    height: 91.8vh;
    display: flex;
    flex-direction: column;
}

#tasks-top {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#current-task {
    background-color: #e6e3e3;
    border-radius: 10px;
    height: 80vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

#tasks-bottom {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    height: 5vh;
    width: 75vw;
    background-color: #e6e3e3;
}

.task-item {
    display: flex;
}

.task-name {
    width: 40vw;
    align-items: center;
    font-size: 24px;
    position: relative;
    left: 100px;
}

.task-details {
    width: 10vw;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 100px;
}

.task-details > button {
    height: 2rem;
    width: 5rem;
    background-color: #e6e3e3;
    border: 2px red solid;
    border-radius: 5px;
    font-size: 18px;
}

.task-details > button:hover {
    cursor: pointer;
}


.task-date {
    width: 9vw;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 100px;
}

#empty-project {
    font-size: 24px;
}

#modal-container {
    background-color: #e6e3e3;
    display: none;
    position: fixed;
    height: 25vh;
    width: 20vw;
    top: 20rem;
    left: 47.5rem;
    border: 3px solid red;
    border-radius: 10px;
}

#modal-top {
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 20vw;
    background-color: red;
}

.modal-h3 {
    display: flex;
    align-items: center;
    color: #f4efef;
    font-size: 1.8rem;
}

.exit-button {
    height: 5vh;
    width: 2vw;
    color: #f4efef;
    background-color: red;
    border: none;
    font-size: 2rem;
    position: relative;
    left: 5.5rem;
}

.exit-button:hover {
    cursor: pointer;
}

#proj-form-container {
    height: 20vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4efef;

}

.form {
    height: 20vh;
    width: 20vw;
    display: flex;
    align-items: center;
}

#proj-form-container > .form > fieldset {
    display: flex;
    flex-direction: column;
    height: 18vh;
    background-color: #f4efef;
    border: none;
}

#proj-form-container > .form > fieldset > label {
    font-size: 24px;
}

#proj-form-container > .form > fieldset > input {
    height: 2rem;
    border-radius: 10px;
    margin: 10px;
    width: 20rem;
    font-size: 20px;
}

#proj-form-container > .form > fieldset > button {
    height: 2rem;
    width: 7rem;
    position: relative;
    left: 13.3rem;
    color: #f4efef;
    background-color: red;
    border: none;
    border-radius: 0.25rem;
}

#proj-form-container > .form > fieldset > button:hover {
    cursor: pointer;
}

.form > fieldset > label {
    margin: 10px;
}

.form > fieldset > button {
    margin: 10px;
}