html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f4efef;
}

header {
    background-color: red;
}

main {
    display: flex;
    flex-direction: row;
}

nav {
    /* height: 55.8rem;
    width: 20rem; */
    display: flex;
    flex-direction: column;
    height: 91.8vh;
    width: 20vw;
    background-color: #e6e3e3
}

#nav-top {
    height: 25vh;
    width: 20vw;
    /* border: solid 3px black; */
}

#nav-bottom {
    height: 75vh;
    width: 20vw;
    /* border: solid 3px black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-container {
    width: 20vw;
}

#projects-container > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.project {
    height: 2rem;
    display: flex;
    justify-content: center;
}

.project:hover {
   cursor: pointer; 
   background-color: #f4efef;
}

#add-project-btn {
    height: 2rem;
    width: 6rem;
}

#add-project-btn:hover {
    cursor: pointer;
}

#proj-modal-cnt {
    height: 25vh;
    width: 25vw;
    background-color: green;
    position: fixed;
    top: 25rem;
    left: 45rem;
    /* display: flex; */
    flex-direction: column;
}

#proj-modal-top {
    background-color: red;
}

#proj-modal-header {
    background-color: red;
}

#proj-form-container {
    background-color: yellow;
    height: 20vh;
    width: 25vw;
}

#proj-form-container > form > fieldset {
    display: flex;
    flex-direction: column;
    height: 18vh;
}

#content {
    width: 100rem;
    display: flex;
    flex-direction: column;
}

.task {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    height: 5vh;
    width: 75vw;
    background-color: #e6e3e3;
    margin: 10px;
}

.task-item {
    display: flex;
}

.task-name {
    width: 40vw;
    align-items: center;
    font-size: 24px;
    position: relative;
    left: 100px;
}

.task-details {
    width: 10vw;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 100px;
}

.task-date {
    width: 9vw;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 100px;
}

#new-task-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 6rem;
    background-color: hotpink;
    border-radius: 15px;
}

#new-task-btn:hover {
    cursor: pointer;
}

#empty-project {
    font-size: 24px;
}